body {
	font-family: "DIN 2014 Narrow",sans-serif;
	background-color:#eef1fc;
}

.map {
	float:center;
   	opacity: 1;
}
.div1 {
	width: 1000px;
	margin: auto;
}
.forward {
  background-color: #728aef;
    border: none;
    padding: 20px;
    display: inline-block;
    margin: 4px 2px;
}

.click-me {
    background-color: #c888e1;
    border: none;
    padding: 20px;
    display: inline-block;
    margin: 4px 2px;
}
