body {
	font-family: "DIN 2014 Narrow",sans-serif;
	background-color:#eef1fc;
}

.map {
	float:center;
   	opacity: 1;
   	transition: opacity 1s ease-in-out;
   	-moz-transition: opacity 1s ease-in-out;
   	-webkit-transition: opacity 1s ease-in-out;
   }

.map:hover {
    opacity: 0;
      }
}

.div1 {
	width: 1000px;
	margin: auto;
}
.forward {
  background-color: green;
    border: none;
    padding: 20px;
    display: inline-block;
    margin: 4px 2px;
}

.forward {border-radius: 50%;}