body {
      font-family: "Helvetica";
      background-color: #acd8ef;
      
}
.masks {
    color: red;
    font-size: 300px;
    transition-property: color;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 300ms; 
}

.masks:hover {
    color: black;
    cursor: pointer;
}


.by-line {
    color: black;
    font-size: 200px;
    transition-property: color;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 300ms; 
}

.by-line:hover {
    color: red;
    cursor: pointer;
}

.poem {

      color: white;
      font-size: 40px;
          transition-property: color;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 300ms; 
}

.poem:hover {
    color: black;
    cursor: pointer;
}

}