body {
      font-family: "Helvetica";
      background-color: #acd8ef;
      
}
p {
            color: white;
            font-size: 25px;
      transition-property: color;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 300ms; 
}

p:hover {
    color: black;
    cursor: pointer;
}

}

h1 {
      font-size: 1000px;
}

h2 {
    color: red;
    font-size: 500px;
    transition-property: color;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 300ms; 
}

h2:hover {
    color: black;
    cursor: pointer;
}