.body {
    display: grid;
    margin: 6px;
}

.tennis-court {
    border: solid 20px pink;
    width: 800px;
    height: 360px;
    display: grid;
    margin: 60px auto;
}

.court-grid {
    display: grid;
    height: 100%;
    border:solid 2px pink;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.court-alley-top-left {
    grid-column: 1 / 14;
}

.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-alley-top-right {
    grid-column: 14 / 27;
}

.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-mdl-left {
    grid-row: 2 / 8;
    grid-column: 1 / 7;
}

.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-mdl2-left {
    grid-row: 2 / 5;
    grid-column: 7 / 14;
}
.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-mdl-right {
    grid-row: 2 / 5;
    grid-column: 14 / 21;
}
.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-left {
    grid-row: 5 / 8;
    grid-column: 7 / 14;
}
.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-right {
    grid-row: 5 / 8;
    grid-column: 14 / 21;
}
.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-mdl2-right {
    grid-row: 2 / 8;
    grid-column: 21 / 27;
}
.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-alley-bottom-left {
    grid-column: 1 / 14;
}
.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.court-alley-bottom-right {
    grid-column: 14 / 27;
}
.court-cell {
    background: yellow;
    box-shadow: inset 0 0 0 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

